@import url("https://js.arcgis.com/4.20/esri/themes/light/main.css");

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.recenter-tool {
  padding: 2em;
  position: absolute;
  top: 1em;
  right: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.recenter-tool>p {
  margin: 0;
}